.responsive {
	max-width: 100%;
	height: auto;
}
img {
	max-width: 100%;
  	height: auto;
}
.warpper {
	width: 80%;
	min-width: 130px;
	max-width: 415px;
	margin: 0 auto;
}
.contaner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	order: 2;
}
.textcontaner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	order: 1;
}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {


}

/* applies to all widths 750px and greater */
@media (min-width: 750px) {


}

/* Larger than desktop */
/* applies to all widths 100px and greater */
@media (min-width: 1000px) {
//.warpper {
	//width: 90%;
	//min-width: 900px;
	//max-width: 2000px;
	//margin: 0 auto;
//}

}